<div class="main-content">
    <div class="section-content section-content-p30">
        <h4>Category: {{ currentCategoryName }}</h4>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <!-- loop over the collection of products -->
                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <div class="product-box">
                        <!-- ADDING ANCHOR TAGS FOR MASTER VIEW FOR PRODUCT IMAGE AND PRODUCT NAME -->
                        <a routerLink="/products/{{ tempProduct.id }}">
                            <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
                        </a>
                        <a routerLink="/products/{{ tempProduct.id }}">
                            <h1>{{ tempProduct.name }}</h1>
                        </a>
                        <div class="price">{{ tempProduct.unitPrice | currency:'USD' }}</div>
                        <button (click)="addToCart(tempProduct)" class="btn btn-primary btn-sm">Add to cart</button>
                    </div>
                </div>
                <!-- DISPLAY MESSAGE IF PRODUCTS ARE NOT FOUND -->
                 <!-- role="alert" -> ACCESSIBILITY:PROVIDE EXTRA INFORMATION TO ASSISTIVE TECHNOLOGIES SUCH AS SCREEN READERS 
                 ? -> SAFE NAVIGATION OPERATOR ,GUARDS AGAINST NULL AND UNDEFINED VALUES IN PROPERTY PATHS  -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found.
                </div>

            </div>
             <!-- begin footer -->
             <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%">
    <!-- COMPONENT WILL GENERATE LINKS FOR PAGINATION -->
     <!-- [(page)] TWO WAY DATA BINDING -->
      <!-- WHEN USER CLICKS A "page" NAVIGATION LINK , IN OUT TS COMPONENT "thePageNumber" PROPERTY IS UPDATED BASED ON USER ACTION -->
      <!-- IF OUR TS CODE UPDATES THE "thePageNumber" THEN UI COMPONENT IS UPDATED AUTOMATICALLY ,CURRENT PAGE NO IS HIGHLIGHTED  
      [pageSize] - ONE WAY DATA BINDING
        [collectionSize] - ONE WAY DATA BINDING
      (pageChange )-- EVENT BINDING 
       [maxSize]="5"-- SHOULD ONLY SHOW A MAXIMUM NUMBER OF PAGES -->
      <ngb-pagination [(page)]="thePageNumber" 
                                                [pageSize]="thePageSize"
                                                [collectionSize]="theTotalElements"
                                                [maxSize]="5"
                                                [boundaryLinks]="true"
                                                (pageChange)="listProducts()">
                                </ngb-pagination>
                                </div>
                                <!-- ADDING DROPDOWN TO SELECT PAGE SIZE -->
                                <!-- #myPageSelect  -> DEFINING NAME OF A HTML ELEMENT  -->
                                <div class="col-md-3 mt-2" style="text-align: right;">
                                    <span class="mr-2">Page Size</span>
                                    <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                                        <option selected="true">5</option>
                                        <option>10</option>
                                        <option>20</option>
                                        <option>50</option>
                                    </select>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end footer -->
        </div>
    </div>
</div>